/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    text-align: center;
}

.heading {
    font-size: 3rem;
}

.calc-zone {
    background-color: lightgray;
    box-sizing: border-box;
    width: 55%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.solve-zone {
    width: 40%;
    font-size: 1.5rem;
    margin: auto;
    padding: 50px 0;
}

.solve-zone span {
    padding: 0 10px;
}

