/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    text-align: center;
}

.heading {
    font-size: 3rem;
}

.calc-zone {
    background-color: lightgray;
    box-sizing: border-box;
    width: 55%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.solve-zone {
    width: 40%;
    font-size: 1.5rem;
    margin: auto;
    padding: 50px 0;
}

.solve-zone span {
    padding: 0 10px;
}

.points-zone {
    color: #000;
    margin: 10px auto;
    width: 50%;
    font-size: 1.5em;
}

.arithm-zone {
    width: 70%;
    margin: 40px auto;
}

#correct {
    color: #0000ff;
    font-weight: normal;
}

#incorrect {
    color: #ff0000;
    font-weight: normal;
}

.answer {
    display: none;
    font-size: 1rem;
}

#answer-area {
    border: none;
    color: #000;
    display: inline-block;
    height: 35px;
    width: 90px;
    font-size: 1rem;
}

.points {
    display: inline-block;
    padding: 20px;
}

.btns {
    width: 200px;
    height: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
}

.btns:focus {
    outline: none;
}

.btn-class {
    padding: auto;
    border-radius: 25px;
    background-color: white;
    border: 10px solid;
    width: 100px;
    height: 100px;
    font-size: 3rem;
    margin-right: 20px;
}

.plus-cyan {
    border-color: cyan;
    color: #0ff;
}

.plus-cyan:active,
.plus-cyan:hover {
    background-color: red;
    color: white;
}

.minus-magenta {
    border-color: magenta;
    color: #f0f;
}

.minus-magenta:active,
.minus-magenta:hover {
    background-color: yellowgreen;
    color: white;
}

.times-yellow {
    border-color: yellow;
    color: #ff0;
}

.times-yellow:active,
.times-yellow:hover {
    background-color: blue;
    color: white;
}

.divide-black {
    border-color: black;
    color: #000;
}

.divide-black:active,
.divide-black:hover {
    background-color: gray;
    color: white;
}

.answer-navy {
    margin-top: 20px;
    background-color: navy;
    border: 0.5px transparent;
    border-radius: 15px;
}

.answer-navy:active,
.answer-navy:hover {
    background-color: green;
}

/* Media Queries */
@media (max-width: 414px) {
    .arithm-zone {
        width: 100%;
    }

    .btn-class {
        margin: 0 10px;
        padding: 5px;
        border: 5px solid;
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }

    .btn-class::after {
        font-size: 0.6rem;
        left: -0.7rem;
    }

    .solve-zone {
        padding: 10% 0;
        width: 100%;
    }

    .solve-zone span {
        padding: 0;
    }

    .answer {
        display: block;
    }

    #answer-area {
        display: block;
        margin: 0 auto;
    }

    .answer-navy {
        margin-top: 0;
    }

    .points-zone {
        width: 100%;
    }

    .points {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }
    
    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .calc-zone {
        height: 70vh;
    }

    .arithm-zone {
        width: 75%;
        margin: 10px auto;
    }

    .btn-class {
        margin: 10px 10px;
    }


}








    





